body {
	background-image: url("https://s.hdnux.com/photos/01/46/27/57/26835959/5/ratio3x2_1920.jpg");
  background-size: 100%;
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: #de7eed;
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgb(244, 224, 224);
  text-align: center;
}

.menu_button {
	background-color: rgba(230, 76, 241, 0.5);
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
